<!-- ======= Header ======= -->
<header id="header" class="header-top">
    <div class="container">

        <h1><a routerLink="/home">Geethanjali Ravichandra</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="mr-auto"><img src="./assets/img/logo.png" alt="" class="img-fluid"></a> -->
        <h2>
            <p class="mt-4" style="font-family:Raleway, sans-serif;">
                🚀 Hi, I'm Geethanjali! Welcome to my digital abode!
            </p>
            <p style="font-family:Raleway, sans-serif;">
                I'm a Bengaluru-based full-stack developer, weaving digital wonders with a keyboard and a dash of
                creativity.<br>
                Passionate about innovation and continuous growth, I navigate the tech universe with curiosity and
                precision.<br>
                Beyond the screen, I'm an advocate for positive change, exploring diverse interests, and turning ideas
                into <br>
                impactful solutions.Let's connect and create something amazing together!
            </p>
        </h2>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link" (click)="opentab($event)" id="hometab" name="home">Home</a></li>
                <li><a class="nav-link" (click)="opentab($event)" id="abouttab" name="about">About</a></li>
                <li><a class="nav-link active" (click)="opentab($event)" id="resumetab" name="resume">Resume</a></li>
              <!-- <li><a class="nav-link" (click)="opentab($event)" id="servicestab" name="services">Services</a></li> -->
                <li><a class="nav-link" (click)="opentab($event)" id="portfoliotab" name="portfolio">Portfolio</a></li>
                <li><a class="nav-link" (click)="opentab($event)" id="contacttab" name="contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <div class="social-links">
            <a [href]="githubURL" target="_blank" class="github"><i class="bi bi-github"></i></a>
            <a [href]="linkedURL" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>

    </div>
</header><!-- End Header -->

<!-- ======= Resume Section ======= -->
<section id="resume" class="resume section-show">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
            <p>Check My Resume</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Graduate Software Engineer</h4>
                    <h5>Aug 2022 - Present</h5>
                    <p><em>AtkinsRéalis, Bangalore, India </em></p>
                    <div>
                        <p>
                            • Collaborated closely with a seasoned solution architect within a dynamic team of five
                            professionals. <br>
                            • Played a key role in the end-to-end project lifecycle, encompassing planning, design,
                            implementation, and testing of two significant projects within a 7-month timeframe.<br>
                            • Designed and developed various features, including customized filters, a lock/unlock
                            system, and a voting system for liking/disliking suggested ideas.<br>
                            • Implemented robust user management and Azure AD Authentication and Authorization using
                            MSAL library and Microsoft Web Identity.<br>
                            • Demonstrated commitment to quality by conducting thorough unit testing and end-to-end
                            testing of API endpoints using Postman.<br>
                            • Successfully oversaw the seamless transition of both projects to production, culminating
                            in successful User Acceptance Testing.<br>
                            • Contributed to the development of a digital academy platform aimed at accelerating
                            employee skill development organization-wide.<br>
                            • Benefited from the guidance of a highly experienced tech lead with 15 years of expertise,
                            providing invaluable mentorship throughout the project lifecycle.<br>

                        </p>
                    </div>
                </div>
                <div class="resume-item">
                    <h4>Full Stack Intern</h4>
                    <h5>Feb - July 2022</h5>
                    <p><em>AtkinsRéalis, Bangalore, India </em></p>
                    <div>
                        <p>
                            • Engaged in On-Campus recruitment at AtkinsRéalis, gaining comprehensive expertise in a
                            range of technologies, including Microsoft SQL Server, .NET Core Web API, Angular, Postman,
                            and Vue.js. <br>
                            • Collaborated within a team to create a robust multi-page web application, utilizing latest
                            technologies such as .NET Core 6, Angular 12, and MSSQL for server-side functionality.
                            Configured Azure groups for efficient user management, resolving software bugs, and
                            implementing build and release pipelines through Azure DevOps.<br>
                            • Formulated user guideline manuals to streamline software project development and enhance
                            user understanding.<br>
                            • Demonstrated strong interpersonal skills by organizing engaging events and games during
                            monthly employee-connect meetings, fostering a vibrant and cohesive work environment.<br>

                        </p>
                    </div>
                </div>
                <div class="resume-item">
                    <h4>Product Development Intern</h4>
                    <h5>September - Dec 2021</h5>
                    <p><em>Briselle Private Limited, Bangalore, India</em></p>
                    <div>
                        <p>
                            • During my four-month internship at Briselle within the scope of their Off-Campus
                            Recruitment program, I undertook the role of a Product Engineering Intern. <br>
                            • My primary focus was on an educational technology (EdTech) project. This project
                            encompassed the task of acquiring valuable insights from both students and administrative
                            personnel for the development of a school portal. This portal featured dashboard user
                            interface (UI) design and an interactive platform for student-teacher interactions.<br>
                            • My responsibilities within this role encompassed several aspects. I was tasked with
                            conducting extensive research on different payment gateways and their subsequent
                            integration. <br>
                            • Furthermore, I collaborated closely with the front-end team to design and implement
                            user-friendly interfaces for both students and administrators. This involved the utilization
                            of Bootstrap, HTML, CSS, and Javascript to create intuitive and accessible UI elements.<br>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Education</h3>
                <div class="resume-item pb-0">
                    <h4>M S Ramaiah University of Applied Sciences</h4>
                    <h5>2018 - 2022</h5>
                    <p><em>Bachelors of Technology in Computer Science and Engineering | CGPA: 9.23</em></p>
                    <div>
                        <ul>
                            <li>#470-p, Peenya Industrial Area, Peenya-IV Phase, Bangalore -560058</li>
                            <li>+91 80100 04444</li>
                            <li><a href="https://www.msruas.ac.in/">https://www.msruas.ac.in/</a></li>
                        </ul>
                    </div>
                </div>

                <div class="resume-item">
                    <h4>KMWA PU College</h4>
                    <h5>2016 - 2018</h5>
                    <p><em>PCMC (Physics, Chemistry, Mathematics and Computer Science) | Percentage: 83</em></p>
                    <div>
                        <ul>
                            <li>#CA - 5-B, 12th Cross, Fourth Main, West of Chord Road - Second Stage, Mahalakshmipuram
                                (Landmark Nandini Theater), Bangalore 560086</li>
                            <li>+91 80469 24292</li>
                            <li><a
                                    href="https://deekshalearning.com/college/mahalakshmipuram-bengaluru/">https://deekshalearning.com/college/mahalakshmipuram-bengaluru/</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="resume-item">
                    <h4>Little Lillys English School</h4>
                    <h5>2004 - 2016</h5>
                    <p><em>10th Matriculation | Percentage: 95</em></p>
                    <div>
                        <ul>
                            <li> # 46, 8th Cross, Further Extension, Mahalakshmipuram, Bangalore 560086</li>
                            <li>+91 9916624474</li>
                            <li>littlelillyseducationsociety@gmail.com</li>
                            <li><a
                                    href="http://littlelillyseducationsociety.com/">http://littlelillyseducationsociety.com/</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->