<main id="main">

    <!-- ======= Portfolio Details ======= -->
    <div id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row">

                <div class="col-lg-8">
                    <h2 class="portfolio-title">Portfolio detail</h2>

                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide" *ngIf="id == 'P1'">
                                <img class="project-img" src="./assets/img/portfolio/projects 1.jpeg" alt="">
                            </div>

                            <div class="swiper-slide" *ngIf="id == 'P2'">
                                <img src="./assets/img/portfolio/projects 2.png" alt="">
                            </div>

                            <div class="swiper-slide" *ngIf="id == 'P3'">
                                <img src="./assets/img/portfolio/Project 3.avif" alt="">
                            </div>

                            <div class="swiper-slide" *ngIf="id == 'P4'">
                                <img class="project-img" src="./assets/img/portfolio/Project 4.png" alt="">
                            </div>

                            <div class="swiper-slide" *ngIf="id == 'Pl1' || id == 'Pl2'">
                                <img src="./assets/img/portfolio/Publication.gif" alt="">
                            </div>

                            <div class="swiper-slide" *ngIf="id == 'C1' || id == 'C2' || id == 'C3'">
                                <img src="./assets/img/portfolio/Certificate.png" alt="">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                </div>

                <div class="col-lg-4 portfolio-info">
                    <h3>{{projectinfo}}</h3>
                    <ul>
                        <li><strong>Category </strong>: {{ category}}</li>
                        <li><strong>Type </strong>: <span style="font-style: italic;">{{ type}}</span></li>
                        <li><strong>Project date </strong>: {{ date}}</li>
                        <li><strong>Project URL </strong>: <a [href]="URL">{{ URL}}</a></li>
                    </ul>

                    <p>
                        {{description}}
                    </p>
                </div>

            </div>

        </div>
    </div><!-- End Portfolio Details -->

</main><!-- End #main -->

<app-footer></app-footer>